.container-c{
    max-width: 82.2rem;
    margin: 1% auto;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    scroll-behavior: smooth;
}
header{
    position: relative;
}
nav{
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 0 1%;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 1px solid rgb(181, 181, 181);
    z-index: 8;
}
.nav-left .luxe{
    color: rgb(218, 185, 4);
    font-size: 28px;
    font-family: emoji;
    margin-top: -4px;
}
.nav-left {
    color: ;
    display: flex;
    align-items: center
    font-size: ;
}
.nav-left a {
    text-decoration: none;
    font-size: large;
    margin: 0 6%;
    font-weight: 700;
    color: black;
}
.nav-left a{
    border-bottom: 3px solid white;
    
}
.nav-left a:hover{
    border-bottom: 3px solid red;
    
}

.hamburger{
    display: none;
}
nav img {
    width: 86%;
}
.nav-right{
    display: flex;
    align-items: center;
    font-size: 23px;
    
}
.nav-right span {
    margin: 0 1%;
    color: black;
}
.nav-right input{
    border: none;
    font-size: 14px;
    font-weight: 400;
    outline: none;
    width: 200px;
}
.nav-right>div{
    margin: 0 10px;
}
/* .nav-right input[type=text] {
    border-radius: 0 ;
    box-shadow: none;
} */
.search{
    border-bottom: 1px solid gray;
    display: flex;
}
.menu-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 4%;
    margin-top: 69px;
    margin-bottom: 1%;
    z-index: 5;
    flex-wrap: wrap;
}
.menu-list a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    
}
.menu-list div{
    border-bottom: 3px solid white;
}
.menu-list div:hover{
    border-bottom: 3px solid black;
    transition: ease-in;

}
img {
    max-width: 100%;
    margin: 1%;
}
h1{
    font-size: 32px;
    margin: 0 1% 2% ;
}
.many-brands {
    background-color: rgb(242, 241, 241);
    padding: 1%;
}
.brand-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.brand-box img{
    width: 212px;
    margin: 1%;
    border-radius: 15px;
    
}
.trending-brands {
    background-color: rgb(242, 241, 241);
    padding: 1%;
}
.trending-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.trending-box img{
    width: 212px;
    margin: 1%;
    border-radius: 15px;
    
}
.luxury-brands {
    background-color: rgb(242, 241, 241);
    padding: 1%;
}
.luxury-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.luxury-box img {
    width: 212px;
    margin: 1% 0;
    border-radius: 15px;
}
.brand-store {
    background-color: rgb(242, 241, 241);
    padding: 1%;
}
.store-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.store-box img {
    width: 212px;
    margin: 1%;
    border-radius: 15px;
}
.up-btn {
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
}
.extra-img {
    position: relative;
}
.extra-img a .left-arrow {
    display: block;
    position: absolute;
    top: 45%;
    left: -4%;
}
.extra-img a .right-arrow {
    display: block;
    position: absolute;
    transform: rotate(180deg);
    top: 45%;
    right: -4%;
}

@media screen and (max-width: 1024px) {
    .hamburger{
        display:block;
    }
    .nav-left{
        display: none;
    }
    
}
@media screen and (max-width: 1200px){
    nav{
        padding: 0;
    }
    .nav-left a{
        margin: 0 3%;
    }
}
@media screen and (max-width: 860px){
    .nav-right input, .nav-right .profile{
        display: none;
    }
    .nav-right .search {
        border: none;
    }
    .menu-list{
        display: none;
    }
    h1 {
        font-size: 20px;
    }
    .extra-img{
        display: none;
    }
}