* {
    font-family: Barlow, sans-serif;
}

#search-bar {
    background: url(https://static.thenounproject.com/png/888719-200.png) no-repeat right;
    background-size: contain; 
   background-origin: content-box;
    padding-right: 10px; 
    
}

#luxe-title {
    font-family: Cormorant, sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
   
    letter-spacing: .25rem;
    text-align: left;
    color: #D3A84F;
}

.option-list {
    display: none;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 2rem;
    gap: 0.5rem;
  }
  .option-list img {
    width: 75px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .option-list a {
    text-decoration: none;
    color: black;
    font-size: 12px;
  }
  .option-list div {
    width: 80px;
    margin-right: 1px;
    text-align: center;
    transition: 0.3s ease;
  }
  .option-list div:hover{
    transform: scale(1.5);
    
  }
  h3{
    margin: 0;
  }
  #search-icon-after-small-screen {
    display: none;
  }
  #hamburger-small-left {
display: none;
  }

  @media screen and (max-width:1320px ) {
    #text-links-left {
      padding-right: 0rem;

    }
#header-main {
  justify-content: space-evenly;
}
#top-logo {
padding-left: 6rem;
}
  }



  @media screen and (max-width:1248px ) {
    #text-links-left {
      display: none;
    }
    #search-bar {
      display: none;
    }
    #profile-icon-top-right {
      display: none;
    }
    #search-icon-after-small-screen {
      display: inline;
    }
    #hamburger-small-left {
    display: inline;
      position: absolute;
      left: 5%;
    cursor: pointer;
    }


#right-icons-top {
  position: absolute;
  right: 5%;

}
            #top-logo {
              padding-left: 15rem;

            }


  }






  @media screen and (max-width:1020px ) {
    .option-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-top: 2rem;
   
}
    #men-women-navbar {
        display: none;
    }

    #top-logo {
      padding-left: 10rem;

    }

  }
  @media screen and (max-width: 900px) {
    .option-list {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        padding-bottom: 20px;
        justify-content: flex-start;
    }

    
    .option-list div {
        min-width: 100px; 
        margin-right: 6px; 
    }

    #top-logo {
      padding-left: 8rem;

    }
}
@media screen and (max-width: 800px) {
  #top-logo {
    padding-left: 7rem;

  }
}
@media screen and (max-width:700px) {
  #top-logo {
    padding-left: 5rem;

  }
}

@media screen and (max-width: 640px) {
  .option-list {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch; 
      scrollbar-width: none; 
      padding-bottom: 20px; 
      justify-content: flex-start; 
  }

  
  .option-list div {
      min-width: 100px; 
      margin-right: 3px; 
  }
  #top-logo {
    padding-left: 3rem;

  }
}