* {
    font-family: Barlow, sans-serif;
}

#search-bar {
    background: url(https://static.thenounproject.com/png/888719-200.png) no-repeat right;
    background-size: contain; 
   background-origin: content-box;
    padding-right: 10px; 
    
}
#luxe-title {
    font-family: Cormorant, sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
   
    letter-spacing: .25rem;
    text-align: left;
    color: #D3A84F;
}